.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: #1b263b;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 500;
}

.header-icon {
  font-size: 1.4rem;
  margin-left: 1rem;
  cursor: pointer;
}

.user-header-left h3 {
  font-size: 35px;
  color: white;
}

@media (max-width: 768px) {
  .user-header-left h3 {
    font-size: 20px;
  }

  .header-icon {
    font-size: 1.2rem;
  }
}
